<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <!-- <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" /> -->
    </div>

    <!-- Login Form -->
    <form [formGroup]="loginForm">
      <input type="text" id="login" class="fadeIn second" name="login" placeholder="Email Id" formControlName="email">
      <div *ngIf="loginForm.controls.email.errors">
        <span class="error" *ngIf="loginForm.controls.email.touched &&loginForm.controls.email.errors?.required">
            Please enter  email/username
        </span>
      </div>

      <input type="password" id="password" class="fadeIn third" name="login" placeholder="password" formControlName="password">
      <div *ngIf="loginForm.controls.password.errors">
        <span class="error" *ngIf="loginForm.controls.password.touched &&loginForm.controls.password.errors?.required && !loginForm.controls.password.hasError('invalidPassword')">
            Please enter password
        </span>

        <span class="error" *ngIf="loginForm.controls.password.touched && loginForm.controls.password.hasError('invalidPassword') && !loginForm.controls.password.errors?.required">
           Password should have 1 capital,1 small, 1 special character and 1 number
        </span>
      </div>
      <input type="submit" class="fadeIn fourth" value="Log In" [disabled]="loginForm.invalid" (click)="login()">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" [routerLink]="['/register']" href="#">Don't have an account? Register now</a>
    </div>

  </div>
</div>
