<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <!-- <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" /> -->
    </div>

    <!-- Login Form -->
    <form [formGroup]="registerForm">
      <input type="text" id="name" class="fadeIn first" name="login" formControlName="username" placeholder="username">
      <div *ngIf="registerForm.controls.username.errors">
        <span class="error" *ngIf="registerForm.controls.username.touched && (registerForm.controls.username.errors?.required)">
            Please enter first name
        </span>
        <span class="error" *ngIf="registerForm.controls.username.touched && registerForm.controls.username.errors?.minlength">
            Please enter minimum 2 characters
        </span>
    </div>
      <input type="text" id="login" class="fadeIn second" name="login" formControlName="email" placeholder="email">
      <div *ngIf="registerForm.controls.email.errors">
        <span class="error" *ngIf="registerForm.controls.email.touched &&registerForm.controls.email.errors?.required">
            Please enter email
        </span>
        <span class="error" *ngIf="registerForm.controls.email.touched && registerForm.controls.email.hasError('invalidEmail')">
           Please enter valid email
        </span>
    </div>
      <input type="password" id="password" class="fadeIn third" name="login" formControlName="password" placeholder="password">
      <div *ngIf="registerForm.controls.password.errors">
        <span class="error" *ngIf="registerForm.controls.password.touched &&registerForm.controls.password.errors?.required">
            Please enter password
        </span>
        <span class="error" *ngIf="registerForm.controls.password.touched && registerForm.controls.password.hasError('invalidPassword')">
           Password should have 1 capital,1 small, 1 special character and 1 number
        </span>
      </div>
      <input type="submit" class="fadeIn fourth" value="Register" [disabled]="registerForm.invalid" (click)="submitFrom()">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" [routerLink]="['/']" href="#">Have an account? Login now!</a>
    </div>

  </div>
</div>
