<ng-http-loader class="pg-loader" [debounceDelay]="200" [minDuration]="1500"
[filteredHeaders]="['HideLoader']" [backdrop]="false" [spinner]="spinkit.skThreeBounce"
[backgroundColor]="'#007bff'"></ng-http-loader>

<router-outlet></router-outlet>



<toaster-container [toasterconfig]="config"></toaster-container>
