<div class="float-right logout">
  <button class="btn btn-primary" [routerLink]="['/']"> Logout</button>
</div>

<ng2-smart-table [settings]="settings" [source]="source" (createConfirm)="createNewTask($event)" (editConfirm)="editTask($event)" (deleteConfirm)="deleteTask($event)"></ng2-smart-table>
