/* You can add global styles to this file, and also import other style files */


@import 'node_modules/angular2-toaster/toaster';
@import "https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,500;1,700;1,900&display=swap";


.error{

  font-size: 12px;
  color:red;
}

.fa {
  font-size: 25px;
}

